<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parametros del Request HTTP GET</title>
</head>
<body>
<h1>Enviar parametros del Request HTTP GET</h1>
<ul>
	<li><a th:href="@{/params/string(texto='Hola Juan')}">/params/string?texto=Hola Juan</a></li>
	<li><a th:href="@{/params/string(texto='Hola Celina')}">/params/string?texto=Hola Celina</a></li>
	<li><a th:href="@{/params/mix-params(saludo='Hola Puppy', numero=15)}">/params/mix-params?saludo=Hola Puppy&numero=15</a></li>
	<li><a th:href="@{/params/mix-params-request(saludo='Hola Pancho', numero=20)}">/params/mix-params-request?saludo=Hola Pancho&numero=20</a></li>
</ul>
</body>
</html>