<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<div th:if="${ usuarios.isEmpty() }">No hay usuarios registrados.!</div>
<table th:if="${ !usuarios.isEmpty() }">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Email</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="item : ${usuarios}">
			<td th:text="${item.nombre}"></td>
			<td th:text="${item.apellido}"></td>
			<td th:text="${item.email}"></td>
		</tr>
	</tbody>
</table>

</body>
</html>